coverage==7.4.0
django-constance[database]==4.3.2
django-debug-toolbar==6.0.0
django-extensions==4.1
django-filter==23.5
django-import-export==4.3.9
djangorestframework-simplejwt==5.3.1
django-reversion==5.1.0
Django==5.2.5
djangorestframework==3.16.1
fiona==1.9.5
mistune==3.0.2
mozilla-django-oidc==4.0.1
Pillow==11.1.0
django-vite==3.0.4
ruff==0.3.4
psycopg2-binary==2.9.9
requests==2.31.0
uwsgi==2.0.23
mkdocs-material==9.5.31
https://github.com/jazzband/django-revproxy/archive/refs/tags/0.11.0.zip
