coverage==6.2
django-constance[database]==2.8.0
django-extensions==3.1.5
django-filter==21.1
django-webpack-loader==1.4.1
Django==3.2.10
djangorestframework==3.13.1
mistune==2.0.0
mozilla-django-oidc==2.0.0
Pillow==9.0.1
prospector==1.5.3.1
psycopg2-binary==2.9.2
pylint==2.12.2
requests==2.26.0
uwsgi==2.0.20
