:root {
  --color-primary: #424bff;

  --color-text-grey: rgba(0, 0, 0, 0.55);

  --color-white: #ffffff;
  --color-black: #000000;

  --color-backdrop: #F6F6FF;

  --color-grey-20: #eaeaea; /* divider (list items, files) */
  --color-grey-30: #dddddd; /* divider (sections, header) */
  --color-grey-40: #f5f5f5;
  --color-grey-50: #eaeaea;
  --color-grey-60: #dadada;
  --color-grey-80: #949494;

  --color-icon-grey: rgba(0, 0, 0, 0.42);

  --color-tooltip-dark: #222222;

  --color-alert: #eb0000;

  --color-hover: rgba(0, 0, 0, 0.03);
  --color-active: rgba(0, 0, 0, 0.06);

  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;

  --font-weight-normal: 300;
  --font-weight-bold: 500;

  --radius-small: 3px;
  --radius-normal: 6px;

  --shadow-normal: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.15);

  --padding-screen: 8px;

  --width-detail: 100vw;
  --width-button-small: 24px;
  --width-button-normal: 32px;
  --width-button-large: 40px;

  --slider-transition: 0.15s;
  --slider-diameter: 14px;
  --slider-padding: 3px;
}

@media (min-width: 576px) {
  :root {
    --width-detail: 300px;
    --padding-screen: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --width-detail: 350px;
  }
}

@media (min-width: 1200px) {
  :root {
    --width-detail: 400px;
    --padding-screen: 20px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

html {
  font-family: "PT Sans", sans-serif;
  letter-spacing: -0.005em;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Remove outline from all focused elements */
*:focus {
  outline: none;
  outline-offset: -2px;
}

/* Remove highlight color on Android */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.keyboard-user *:focus {
  outline: 2px solid var(--color-primary);
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: transparent;
  font: inherit;
  letter-spacing: inherit;
  text-align: left;
}

input::placeholder {
  color: var(--color-text-grey);
}

button:not([disabled]) {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

svg {
  flex-shrink: 0;
}

.iconbutton {
  color: black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-radius 0.1s;
}

.iconbutton.__normal {
  width: 40px;
  height: 40px;
}

.iconbutton.__round {
  border-radius: 50%;
}

.iconbutton.__outline {
  border-radius: var(--radius-normal);
  border: 1px solid var(--color-grey-60);
}

/*todo: check if still used*/
.iconbutton.__background {
  background: var(--color-grey-20);
}

.iconbutton.__background:hover {
  background: var(--color-hover);
}

.iconbutton[disabled] {
  color: var(--color-grey-60);
}

.iconbutton.isActive {
  color: var(--color-primary);
}

.iconbutton:not([disabled]):hover {
  background: var(--color-grey-40);
}

.iconbutton:not([disabled]):active {
  background: var(--color-grey-50);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: var(--radius-normal);
  line-height: 1;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  overflow: hidden;
}

.button.__primary {
  background: var(--color-primary);
  color: white;
}

.button.__secondary {
  background: white;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button.__tertiary {
  background: white;
  border: 2px solid var(--color-grey-60);
  color: black;
}

.button.__alert {
  background: white;
  border: 2px solid var(--color-alert);
  color: var(--color-alert);
}

.button.__large {
  height: 56px;
  font-size: var(--font-size-large);
  border-width: 2px;
}

.button.__normal {
  height: 48px;
  font-size: var(--font-size-large);
}

.button svg {
  margin-right: 6px;
}

.button:hover:before {
  background: var(--color-hover);
}

.button:active:before {
  background: var(--color-active);
}


.menu {
  padding: 6px 0;
  background: white;
  border-radius: var(--radius-small);
  border-top-right-radius: 0;
  box-shadow: var(--shadow-normal);
}

.list a,
.list button {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 4px 12px;
  font-size: var(--font-size-small);
}

.list a:hover,
.list button:hover {
  background: var(--color-grey-40);
}

.list a:active,
.list button:active {
  background: var(--color-grey-50);
}

.counter {
  flex-shrink: 0;
  height: 18px;
  min-width: 18px;
  border-radius: 9px;
  border: 2px solid var(--color-primary);
  padding: 0 3px;
  background: white;
  color: var(--color-primary);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.tippy-tooltip {
  padding: 0;
  border-radius: var(--radius-normal);
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0em;
}

.tippy-tooltip .tippy-content {
  padding: 3px 7px 4px;
}

.tippy-tooltip.dark-theme .tippy-backdrop {
  background-color: var(--color-tooltip-dark);
}

.tippy-tooltip.primary-theme .tippy-backdrop {
  /* TODO: var(--color-primary) doesn't work */
  background-color: #0066ff;
}

.tippy-tooltip.popover-theme .tippy-backdrop {
  /* TODO: var(--color-primary) doesn't work */
  background-color: white;
}

.tippy-tooltip.popover-theme {
  background-color: white;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: #000000;
  letter-spacing: inherit;
  box-shadow: var(--shadow-normal);
}

.tippy-tooltip.popover-theme[x-placement^="left"] .tippy-arrow {
  border-left-color: white;
}

.tippy-tooltip.popover-theme[x-placement^="right"] .tippy-arrow {
  border-right-color: white;
}

.tippy-tooltip.popover-theme .tippy-content {
  padding: 0;
  overflow: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon.__grey {
  color: var(--color-icon-grey)
}

/* override multiselect style */
.multiselect__tag {
  background: var(--color-white);
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: var(--color-primary);
}

.multiselect__option--highlight {
  background: var(--color-primary);
}

.multiselect__placeholder {
  color: var(--color-text-grey);
}

.multiselect__tags {
  border-color: var(--color-grey-60);
  border-radius: var(--radius-normal);
}
.multiselect__tag-icon:after {
  color: var(--color-primary);
  font-size: var(--font-size-large);
}
