{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Atlas · {{ config.ORGANIZATION_NAME }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" >

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="shortcut icon" href="{% if config.FAVICON_URL %}{{ config.FAVICON_URL }}{% else %}{% static 'img/favicon.ico' %}{% endif %}" />

    {% vite_hmr_client %}
    {% vite_asset 'src/map.js' %}
</head>
  <body>
    <div id="app" class="app"></div>
    {{ data|json_script:"app-data" }}

    {% if google_maps %}
      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps.api_key }}"></script>
    {% endif %}

    {% if street_smart %}
      <script type="text/javascript" src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v6.12.0/build/ol.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
      <script type="text/javascript" src="https://streetsmart.cyclomedia.com/api/v23.7/StreetSmartApi.js"></script>
    {% endif %}
  </body>
</html>
