{% extends "base.html" %}

{% load static %}

{% block content %}
  {% include 'nav.html' %}
  <hr>

  <div class="container mb-4">
    <hr>
    {% if ctrix %}
    <form class="form-signin" method="POST">
      <h4 class="form-signin-heading">Geregistreerde gebruikers </h4>
      <hr>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    {% else %}
    You are not allowed to login
    {% endif %}
  </div>
{% endblock %}
