{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="page-homepage">
    <div class="intro">
        <h1 class="intro__heading">Eén centrale plek voor alle datasets</h1>
        <p class="intro__text">
            Welkom op het Dataportaal! Op deze website vindt u een overzicht van de beschikbare open data. Als u ideeën heeft, verbeterpunten ziet of vragen wilt stellen, neem dan contact met ons op. In de toekomst gaat de gemeente meer datasets publiceren. De gemeente werkt samen met andere overheden om meer open data op een makkelijke manier beschikbaar te stellen. Samen werken we ook aan standaardisatie van datasets.
        </p>
    </div>
</div>
{% endblock %}