{% extends "base.html" %}

{% load static %}

{% block content %}
  {% include 'nav.html' %}
  <hr>
  <div class="container mb-4">
    <hr>
    <h4>Basisfuncties Atlas</h4>
    <ul>
      <li> <a href="#schermgebruik"><u>Opbouw van het scherm in volledige modus</u> </a> </li>
      <li> <a href="#configuratiescherm"><u>Gebruik van het configuratiescherm</u></a> </li>
      <li> <a href="#achtergrondkaart"><u>Keuze van de achtergrondkaart</u></a> </li>
      <li> <a href="#kaartlagen"><u>Keuze van de zichtbare kaartlagen</u></a> </li>
      <li> <a href="#legenda"><u>Legenda</u></a></u> </li>
      <li> <a href="#metadata"><u>Metadata</u></a> </li>
      <li> <a href="#zichtbaarheid"><u>Zichtbaarheid transparantie/opacity</u></a> </li>
    <li> <a href="#gebruik">Gebruik van de kaart viewer</a></u> </li>
    <li> <a href="#pannen"><u>Pannen</u></a> </li>
      <li> <a href="#selecteren"><u>Selecteren</u></a> </li>
      <li> <a href="#rondkijkfoto"><u>Rondkijkfoto</u></a> </li>
      <li> <a href="#meten"><u>Meten</u></a> </li>
      <li> <a href="#zoekadres"><u>Zoek adres</u></a> </li>
      <li> <a href="#zoek-op-data"><u>Zoek op data</u></a> </li>
      <li> <a href="#historie"> <u>Historische kaarten / Time travel</u> </a>  </li>
      <li> <a href="#printen"><u>Printen</u></a> </li>
      <li> <a href="#adressen_v"><u>Adressen selecteren op de kaart binnen een vierkant</u></a> </li>
      <li> <a href="#adressen_p"><u>Adressen selecteren op de kaart binnen een polygoon</u></a> </li>
      <li> <a href="#kadaster"><u>Kadastrale gegevens bekijken</u></a> </li>
       <li> <a href="#embedden"><u>Huidige kaartscherm embedden in een andere webpagina</u></a> </li>
    </ul>
    <h4 id="schermgebruik">Opbouw van het scherm in volledige modus</h4>
    <div class=""> <img src="{% static 'images/handleiding/schermversie.png' %}" width="948"
      height="477" alt=""/> </div>
    <div class=""> Het linker deel van scherm is het configuratiescherm.
      Het rechter deel van het scherm toont de kaart </div>
    <h4 id="configuratiescherm"> Gebruik van het configuratiescherm</h4>
    <br>
    In het configuratiescherm kan je instellen wat je in de
    kaart gepresenteerd krijgt.<br>
    De gegevens die je te zien krijgt zijn afhankelijk van de
    plek waar je inlogt. Vanaf het internet zie je linksboven altijd Google streetview. Cyclomedia foto’s mogen niet buiten de
    gemeenteorganisatie getoond worden. Daarnaast toont inloggen vanaf
    het internet alleen Open Data. Bijvoorbeeld kadastrale gegevens zie
    je alleen wanneer je binnen ons eigen netwerk inlogt
    (dus ook via Citrix vanuit huis)
    <h4 id="achtergrondkaart">Keuze van de achtergrondkaart</h4>
    <div class="" style="margin-bottom:7px;"> Je kan kiezen welke kaart je als achtergrond wilt gebruiken
      om datasets op te presenteren. </div>
    <video width="100%" height="400" controls>
      <source src="{% static 'images/handleiding/schermtransparantie.mp4' %}" type="video/mp4">
      Your browser does not support HTML5 video. </video>
    <div style="margin-bottom:7px;" class=""> Als je geen achtergrond
      wilt kan je de gekozen achtergrond op 0% transparantie zetten.
      Objecten worden dan op een witte achtergrond gepresenteerd.
      In de huidige versie (2.3.0) kan je kiezen tussen de luchtfoto 2020
      en de BRT (kaart grijs). </div>
    <h4 id="kaartlagen">Keuze van de zichtbare kaartlagen</h4>
    Kaartlagen worden aan-en-uitgezet met de schuifknoppen. Naar
    rechts(groen) =  ingeschakeld.
    <div class=""> <img width="235" height="172"
        src="{% static 'images/handleiding/aanuitzetten.PNG' %}"> </div>
    <h4 id="legenda">legenda</h4>
    Toelichting bij de gebruikte symbolen, kleuren en arceringen.
    <div class=""> <img src="{% static 'images/handleiding/legenda.png' %}" width="200"
      height="154" alt=""/> </div>
    <h4 id="metadata">Metadata </h4>
    Informatie over de informatie; toelichting op geselecteerde <span class=SpellE>kaartlaag</span>.
    <div> <img src="{% static 'images/handleiding/metadata.png' %}"
      width="196" height="130" alt=""/> </div>
    <h4 id="zichtbaarheid">Zichtbaarheid transparantie/<span class=SpellE>opacity</span> <span class=SpellE></span></h4>
    Is transparantie van een <span class=SpellE>kaartlaag</span>
    <div class=""> <img width="209" height="109"
      src="{% static 'images/handleiding/zichtbaarheid.png' %}"> </div>
    <h4 id="gebruik">Gebruik van de kaartviewer</h4>
    Zoomen / selecteren van het gebied dat je wilt zien kan op
    een aantal manieren:
    <ul>
      <li> M.b.v.
        plus (inzoomen) en min (uitzoomen) symbool in de kaart</li>
      <li>dubbelklik op de kaart, dan kom je een
        zoomniveau dieper</li>
      <li>shift-toets + area-select is zoomen naar
        geselecteerd gebied</li>
      <li>(muis) scroll-up is inzoomen</li>
      <li>(muis) scroll-down is uitzoomen</li>
    </ul>
    <h4 id="pannen">Pannen</h4>
    Pannen (verschuiven van de kaart) kan door de muis te
    verplaatsen met ingedrukte linker muistoets.
    <h4 id="selecteren">Selecteren</h4>
    Enkel object <span class=SpellE>dmv</span> klik
    met de linker muistoets op het object
    <h4 id="rondkijkfoto">Rondkijkfoto</h4>
    <div class=""> <img src="{% static 'images/handleiding/knop_rondkijkfoto.png' %}" width="296" alt=""
      height="47"/> </div>
    <p> Met de knop Rondkijkfoto kan een scherm geopend worden waarin beeldmateriaal bekeken kan worden.
      Klik, na het openen van dit scherm, in de kaart om de locatie van de foto te bepalen. </p>
    <div class=""> <img src="{% static 'images/handleiding/uitleg_rondkijkfoto.png' %}" width="971" alt=""
      height="603"/> </div>
    <p>In het linker gedeelte wordt een rondkijkfoto geopend, die genomen is op straatniveau.
      Deze zogenaamde 360 graden foto kan gedraaid worden om alle richtingen te bekijken.
      Beweeg hiervoor de muis met de linkermuisknop ingedrukt gehouden. Ook kan er ingezoomd worden in de foto.
      Gebruik hiervoor het muiswiel.
      Door op de blauwe stippen in het rondkijkfoto-beeld te klikken kan er door de foto ‘gewandeld’ worden, de foto op de locatie van de stip wordt geopend. <br>
      In het rechter gedeelte wordt een obliekfoto geopend. Dit is een foto die vanaf hoogte is genomen onder een schuine kijkrichting.
      De kijkrichting kan worden aangepast door op de symbolen in één van de 4 windrichtingen te klikken.
      Het fotobeeld kan verschoven worden, beweeg hiervoor de muis met ingedrukte linkermuisknop. Ook in de obliekfoto kan ingezoomd worden met het muiswiel.

      Door linksboven in de foto op het klokje te klikken kun je rondkijkfoto’s of obliekfoto’s uit verschillende jaren selecteren.
      Klik op één van de bolletjes en daarna op de preview die in het vierkant ernaast verschijnt. Het geselecteerde jaartal wordt dan geopend.</p>
    <div class=""> <img src="{% static 'images/handleiding/uitleg_rondkijkfoto_timetravel.png' %}" width="226" alt=""
        height="338"/> </div>
    <h4 id="meten">Meten</h4>
    Met de knop Meten kunt u de meetfunctie starten. Klik op de knop en selecteer de gewenste optie: Afstand of Oppervlakte.
    Klik vervolgens in de kaart op de locaties waartussen de afstand of het oppervlakte gemeten moet worden.
    De gemeten lijn of het gemeten vlak wordt in een blauwe kleur in de kaart afgebeeld.
    Het resultaat van de meting staat linksboven in het kaartbeeld. De meting wordt afgesloten door een dubbele klik in de kaart.
    Zolang de meetfunctie aanstaat blijft de knop groen en kan een nieuwe meting gestart worden.

    De meetfunctie kan uitgezet worden door op de knop Meten te drukken de de optie (uit) te kiezen.
    <div class=""> <img src="{% static 'images/handleiding/uitleg_meten.png' %}" width="1031" alt=""
        height="569"/> </div>
    <h4 id="zoekadres">Zoek adres</h4>
    Met de knop Zoek adres kan een adres in Beemster of Purmerend gezocht worden.
    Druk op de knop om de zoekbalk zichtbaar te maken.
    Type in de zoekbalk (een gedeelte van) een adres. Er wordt een lijst met resultaten getoond.
    Klik één van de resultaten aan om de adreslocatie in de kaart te tonen. De kaart wordt verplaatst naar het geselecteerde adres en gemarkeerd met een symbool.
    Let op: adressen met bijzondere karakters in de straatnaam (trema of accent) kunnen niet (altijd) gezocht worden in Internet Explorer, door beperkingen van deze browser.
    In overige internet browsers zoals Firefox en Google Chrome kan dit wel.
    Zolang de zoekbalk zichtbaar is blijft de knop groen, druk nogmaals op de knop om de zoekbalk te verbergen.
    <div class=""> <img src="{% static 'images/handleiding/knop_en_uitleg_zoek_adres.png' %}" width="719" alt="" height="467"> </div>
    <h4 id="zoek-op-data">Zoeken op data</h4>
    Het is mogelijk om naast het zoeken van adressen, ook andere objecten te zoeken zoals een kadastraal object of beheerde bomen.
    Hiervoor is de knop "Zoek op data". De knop is te herkennen aan het trechtertje.
    Wanneer er een keuze is gemaakt van het object dat men zoekt, moet er gekozen worden wat de zoekingang zal zijn. Dit verschilt per soort object.
    Als het een monument betreft kan een zoekingang bijvoorbeeld de straat zijn. Maar wanneer het te zoeken object een buurt is, zal de zoekingang wijk of direct buurt zijn.
    <div class=""> <img src="{% static 'images/handleiding/zoeken-op-data-1.png' %}" width="774" alt="" height="774"/> </div>
    <h4 id="historie">Historische Kaarten/Time Travel</h4>
    <p>In het configuratiescherm kunnen luchtfoto’s van
      verschillende jaren geselecteerd worden. Zo kunnen m.b.v. kaarttransparantie
      verschillen over jaren heen bekeken worden. Klik op het schuifknopje zodat het
      groen wordt om een luchtfoto te selecteren.</p>
    <div class=""> <img src="{% static 'images/handleiding/historie.PNG' %}"
      width="570" height="260" alt=""/> </div>
    <p>Door
      linksboven in de <span class=SpellE>Cyclomediakaart</span> op het klokje te
      klikken kun je  Cyclomedia rondkijkfoto’s
      uit verschillende jaren selecteren. Klik op één van de bolletjes en daarna op
      het kaartje wat ernaast verschijnt.</p>
    <div class=""> <img src="{% static 'images/handleiding/timetravel.PNG' %}"
      width="226" height="338" alt=""/> </div>
    <h4 id="printen">Printen</h4>
    Ondanks het paperless-office karakter van Atlas, is het toch
    mogelijk om schermafdrukken te maken. Via het knipprogramma dat zich in je (Windows)
    startmenu bevindt kun je het hele of een gedeelte van het scherm selecteren en
    dit afdrukken. Start
    het knipprogramma vanuit je startmenu. klik op Nieuw en selecteer met de muis
    het gebied dat je wilt printen. Sla de gemaakte selectie op middels het
    “opslaan” symbool, het bestandmenu of CTRL-S. De selectie staat nu als knipsel.png in je downloadsmap of
    andere gekozen map. Dubbelklik op het bestand en kies in het Windows Photo
    viewermenu voor Afdrukken.
    <div class=""> <img src="{% static 'images/handleiding/printen1.png' %}"
        width="371"  height="282" alt=""/> </div>
    Wanneer Atlas geopend is in de Firefox browser dan kan via
    de rechtermuisknop ook een schermselectie gemaakt worden.Klik
    op Een schermafbeelding maken, en volg de aanwijzingen op het scherm. Het
    opslaan en printen van de schermselectie verloopt verder hetzelfde als met het
    knipprogramma.
    <div class=""> <img width="324" height="243"
      src="{% static 'images/handleiding/printen2.png' %}"> </div>
    <h4 id="adressen_v">Adressen selecteren op de kaart binnen een vierkant</h4>
    <p>In Atlas is het mogelijk om met de muis een gebied te selecteren en hiervan alle
      adressen op te slaan in een CSV of JSON bestand.
      Activeer de Adressen (BAG)themakaart zodat adressen
      zichtbaar zijn op de kaart. Zoom in tot het gewenste niveau. Houd nu de CTRL
      toets ingedrukt en selecteer het gebied waarvan je de adressen wilt hebben,
      met de muis
    <div class=""> <img src="{% static 'images/handleiding/select-adres.PNG' %}" width="927"
        height="360" alt=""/> </div>
    <p>Laat
      de muis los en op het scherm zie je nu de adressen die binnen het geselecteerde
      vierkant vallen. </p>
    <div class=""> <img src="{% static 'images/handleiding/select-adres2.PNG' %}" width="648"
        height="648" alt=""/> </div>
    <p>Wanneer op de Download knop geklikt wordt, verschijnt een
      scherm waarin gekozen kan worden voor het formaat waarin je de adressen wilt
      opslaan. Het CSV formaat is direct in Excel te openen Het JSON formaat wordt
      veel gebruikt voor <span class=SpellE>data-sets</span>.</p>
    <h4 id="adressen_p">Adressen selecteren op de kaart binnen een polygoon</h4>
    <p>In Atlas is het mogelijk om met de muis een gebied te selecteren en hiervan alle
      adressen op te slaan in een CSV of JSON bestand.
      Om het selecteren van adressen makkelijker te maken, kan de adressen (BAG)
      themakaart geactiveerd worden zodat adressen zichtbaar zijn op de kaart. Anders
      eventueel inzoomen op de basiskaart totdat huisnummers zichtbaar zijn.

      Selecteer rechts boven in het Atlasscherm "Selectie", deze knop wordt nu groen.
    <div class=""> <img src="{% static 'images/handleiding/selectie.png' %}" width="110"
        height="47" alt=""/> </div>
    <div class=""> <img src="{% static 'images/handleiding/adressen_binnen_vlak.png' %}" width="180"
        height="110" alt=""/> </div>
    Wanneer er nu in de kaart geklikt wordt, kan door het blauwe bolletje te verslepen,
    een polygoon gemaakt worden waarbinnen zich een gebied bevindt.
    <div class=""> <img src="{% static 'images/handleiding/polygoon.png' %}" width="685"
        height="517" alt=""/> </div>
    De polygoon kan afgemaakt worden door uit te komen bij het startpunt en hier op te klikken
    of te dubbelklikken op het laatste punt. Nu verschijnt een lijst met alle adressen
    die zich binnen de polygoon bevinden. Met de blauwe knop onderaan de lijst kunnen de
    adressen eventueel worden gedownload.

    Bij het selecteren van teveel adressen verschijnt een foutmelding. Alle adressen in
    Purmerend selecteren is niet mogelijk.
    <div class=""> <img src="{% static 'images/handleiding/select-adres2.PNG' %}" width="648"
        height="658" alt=""/> </div>
    <h4 id="kadaster">Kadastrale gegevens bekijken</h4>
    Wie is eigenaar van een perceel? Deze informatie is te zien
    wanneer bij de themakaarten Kadastraal object wordt aangezet. Zoom daarna in
    totdat een kadastraal object zichtbaar is en klik hierop.
    <p> Nu verschijnt ook een menu met kadastrale informatie in het configuratiescherm.
      Door op de menuopties te klikken is de informatie te bekijken. Ook kan de
      informatie gedownload worden. </p>
    <div class=""> <img width="1245" height="905"
      src="{% static 'images/handleiding/kadaster.png' %}"/> </div>
    <h4 id="embedden">Huidige kaartscherm embedden in een andere webpagina</h4>
    In het "Knoppen/Tools" gedeelte van het scherm (rechtboven) bestaat nu ook een functie Insluiten.
    Door hierop te klikken verschijnt het huidige scherm met de HTML code om deze op te vragen.
    <p>Gebruik de code om deze kaartweergave met alle geselecteerde lagen weer te geven in een andere webpagina.</p>
    <div class=""> <img width="602" height="134"
      src="{% static 'images/handleiding/embedden.png' %}"/> </div>
    <div class=""> <img width="615" height="590"
      src="{% static 'images/handleiding/embedden2.png' %}"/> </div>  

{% endblock %}
